<div class="homepage">
  <div class="container">
    <div class="home">
      <h2 class="home-title">タヒチアンダンスでよく使うタヒチ語を覚えよう</h2>
      <p class="home-sub-title">1回10問のタヒチ語2択クイズ！タヒチ語をもっと手軽に、タヒチについて学ぼう。<br>タヒチ語をマスターすればタヒチアンダンスも楽しく見れる、踊れる、歌も歌えちゃうかも！？</p>
    </div>
      <div class="flex-container">
        <%= link_to "クイズを始める", quiz_path, class: "btn-primary" %>
      </div>
  </div>
</div>