<%= javascript_pack_tag 'quiz' %>
<div class="quiz-question">
  <p>問題</p>
  <p><%= @question.content %></p>
  <ul>
    <% @question.choices.each do |choice| %>
      <li data-choice-id="<%= choice.id %>">
        <%= choice.content %>
      </li>
    <% end %>
  </ul>
</div>