<div class="finish">
  <div class="score-wrap">
    <p class="result-show">結果</p>
    <p class="score">10問中<%= @num_correct_answers %>問正解！</p>
  </div>
  <%= link_to 'ホームへ戻る', root_path, class: 'btn-primary' %>
</div>
