@import './variables';

$heart-size: 16px;

$avatar-size: 32px;

.container{
  height: 100%;

  .card {
    background-color: rgba(255, 255, 255, 1);
    margin: 80px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    justify-content: center;

    .current-number{
      text-align: center;
    }

    .question{
      padding: 20px 0;

      &_title {
        font-size: 12px;
        color: rgba(150, 156, 172, 1);
      }

      &_word {
        font-size: 20px;
      }

      .message-container{
        font-size: 12px;

        .correct-message{
          color: rgba(81, 171, 125, 1);
        }

        .incorrect-message{
          color: rgba(160, 11, 40, 1);
        }
      }

    .question-choice {
      input[type="radio"] {
        display: none; /* ラジオボタンを非表示にする */
      }
    
      ul {
        display: flex;
        flex-direction: row; // 要素を水平に配置
        list-style: none; // リストのマーカーを非表示
        padding: 0; // パディングをリセット

        li {
          margin: 5px; // 選択肢の間隔を設定
          padding: 10px; // 選択肢の内側の余白を設定
          border: 1px solid rgba(236, 239, 244, 1); // ボーダーのスタイルと色を設定
          border-radius: 8px; // ボーダーの角を丸くする
          cursor: pointer; // マウスカーソルをポインターに変更
          flex: 1; // 各アイテムを均等に配置
        }
      }
    }

    }
  }
}
